<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.board.dao.BoardDao">
	<insert id="insert" parameterType="member.board.dto.BoardDto">
		insert into board(id, title, content, regdate)
		values(#{id}, #{title}, #{content}, now())
	</insert>
	
	<update id="updaateBoard" parameterType="member.board.dao.BoardDao">
		update board set title=#{title}, content=#{content}	where no=#{no}
	</update>
	
	<update id="addReadcount" parameterType="int">
		update board set readcount = readcount + 1	where no=#{no}
	</update>

	<delete id="deleteBoard" parameterType="int">
		delete from board where no = #{no}
	</delete>
	
	<select id="boardList" parameterType="map" resultType="member.board.dao.BoardDao">
		select * from board
		order by regdate desc limit #{start}, #{count}
	</select>
	
	<select id="count" resultType="int">
		select count(*) from board
	</select>
	
	<select id="boardOne" parameterType="int" resultType="member.board.dto.BoardDto">
		select * from board where no = #{no}
	</select>

</mapper>